* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  
}

body {
  line-height: 1.6;
}
.container1 {
  background: url(../img/g7.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover;
  filter: contrast(120%)

}



.nav {
  width: 100%;
  max-width: 1200px;
  margin: 0px 20px 20px 30px;
  padding: 16px 32px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo h1 a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav ul li a:hover{
  color: #a3c962;
}

.front{
  width: 65%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  text-align:center;

}
.front .save_forest{
  color:#fff;
  font-size: 39px;
  font-family: serif;
}
.global_warming{
  color:#fff;
  font-size: 28px;
  font-family: serif;
}

.front p{
  color: #dadada;
  font-size: 15px ;
  line-height: 27px;
  text-shadow: 2px 2px 8px #000;
}
.front .about_us{
  color: #a3c962;
  background-color: #fff;
  border-radius: 15px;
  padding: 9px 15px;
  border: 1px solid #fff;
  font-size: 15px;
}
.front .join_us{
  color: #fff;
  background-color: #a3c962;
  border-radius: 15px;
  padding: 9px 15px;
  border: 1px solid #fff;
  font-size: 15px;
  margin: 20px 0 0 0;
}
.about_us:hover{
  background-color: #000;
  transition: 0.5s;
}

.join_us:hover{
  background-color: #000;
  transition: 0.5s;
}