* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  
}


body {
  line-height: 1.6;
}
.container1 {
  background: url(../img/g7.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  /* filter: brightness(80%); */
  overflow-x:hidden ;
}



.nav {
  width: 100%;
  max-width: 100%; /* Prevents any element from exceeding 100% width */
  margin: 0px 20px 20px 30px;
  padding: 16px 32px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
padding-left: 50px;
}

.nav .logo h1 a {
  color: #fff;
  text-decoration: none;
  font-size: 39px;
  font-weight: 600;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-right: 60px;
  margin-top: 20px;
}

.nav ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 10px 0 0;
  letter-spacing: 1px;
}
.nav ul li a:hover{
  color: #a3c962;
}

.front{
  width: 65%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  text-align:center;

}
.global_warming{
  color:#fff;
  font-size: 38px;
  font-family: serif;
}
.front .save_forest{
  color:#fff;
  font-size: 49px;
  
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  font-weight: 700;
}


.front p{
  color: #dadada;
  font-size: 16px ;
  line-height: 27px;
  text-shadow: 2px 2px 8px #000;
  padding: 0em 4em;
 
  
  
}
.front .about_us{
  color: #a3c962;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  border: 1px solid #fff;
  font-size: 15px;
  letter-spacing: 2px;
}
.front .join_us{
  color: #fff;
  background-color: #a3c962;
  border-radius: 20px;
  padding: 8px 20px;
  border: 1px solid #fff;
  font-size: 15px;
  margin: 20px 0 0 22px;
  letter-spacing: 2px;
}
.about_us:hover{
  background-color: #000;
  transition: 0.5s;
}

.join_us:hover{
  background-color: #000;
  transition: 0.5s;
}


/* container 2 csss */
.container2{
  width: 100%;
  margin-top: 50px;
  padding: 16px 32px;
  /* display: flex; */
  display: grid;
  place-items: center; /* center both horizontally and vertically */
  overflow-x: hidden; /* hide overflow in x axid*/
}
.container1 .box2{
  display: flex;  /* This show contents inside this div in horizontal */
  margin: 20px 20px 20px 13%;
}
.container2 .box2{
  display: flex;  /* This show contents inside this div in horizontal */
  place-items: center; /* center both horizontally and vertically */
}

.container2 .box1{
  text-align: center;
  padding-bottom: 50px;
}
.box1 h3{
  color: #28a745;
}
/* Aboutus part */

.box2 .leaf{
  padding-left: 32px;
}
.aboutus{
  margin-left: 8%;
  padding-right: 100px;
}
.aboutus h3{
  color: #28a745;
}
/* Circle part */
/* Circle-90% */
.all-circle{
  display: flex;
}
.all-circle .circle1{
  margin-top: 50px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  border: 2px solid #17a2b8;
  border-radius: 50%;
  background: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: -1;

}
.all-circle .circle1 .inside-circle1{
  width: 120px;
  border: 2px solid #8b8787;
  height: 120px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  justify-content: center;
  align-items: center;
  /* top: 10%;
  left:15%; */
  z-index: 2;
}
.inside-circle1 h1.percent{
  color: #17a2b8;
  
  /* position: absolute; */
  /* top: 40%;
  left: 45%; */
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
  z-index: 3;

}

.all-circle .rectangle1 {
  margin-bottom: 60px;
  margin-right: 10px;
  width: 48px;
  height: 100px;
  background-color: #fff;
  transform: rotate(-15deg);
  margin-top: 2px;
  z-index: 1;/* Position the rectangle above the outer circle */
 
}

/* Circle-80% */

.all-circle .circle2{
  margin-top: 50px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  border: 2px solid #28a745;
  border-radius: 50%;
  background: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: -1;

}
.all-circle .circle2 .inside-circle2{
  width: 120px;
  border: 2px solid #8b8787;
  height: 120px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  justify-content: center;
  align-items: center;
  /* top: 10%;
  left:15%; */
  z-index: 2;
}
.inside-circle2 h1.percent{
  color: #28a745;
  /* position: absolute; */
  /* top: 40%;
  left: 45%; */
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
  z-index: 3;

}

.all-circle .rectangle2 {
  margin-bottom: 35px;
  margin-right: 14px;
  width: 80px;
  height: 145px;
  background-color: #fff;
  transform: rotate(-30deg);
  margin-top: 2px;
  z-index: 1; /* Position the rectangle above the outer circle */
 
}

/* Circle-75% */

.all-circle .circle3{
  margin-top: 50px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  border: 2px solid #ffc107;
  border-radius: 50%;
  background: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: -1;

}
.all-circle .circle3 .inside-circle3{
  width: 120px;
  border: 2px solid #8b8787;
  height: 120px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  justify-content: center;
  align-items: center;
  /* top: 10%;
  left:15%; */
  z-index: 2;
}
.inside-circle3 h1.percent{
  color: #ffc107;
  /* position: absolute;
  top: 40%;
  left: 45%; */
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
  z-index: 3;

}

.all-circle .rectangle3 {
  margin-bottom: 60px;
  margin-right: 47px;
  width: 120px;
  height: 120px;
  background-color: #fff;
  transform: rotate(-40deg);
  margin-top: 2px;
  z-index: 1; /* Position the rectangle above the outer circle */
 
}

/* container3 */

.container3{
    width: 100%;
    /* height: 100vh; */
    background: url(../img/s1.jpg);
  margin-top: 50px;
  padding: 86px 32px;
  /* display: flex; */
  display: grid;
  place-items: center; /* center both horizontally and vertically */
  overflow-x: hidden; /* hide overflow in x axid*/
}
.container3 .box-1{
  display: flex;
  justify-content: space-between;
  padding: 0 220px 50px 0;
}

.box-1 .right{
  margin-left: 20px;
}
.right h1{
  font-size: 20px;
  margin-top: -20px;
  color: #a3c962;
}
.right h2{
  padding-top: -8px;
  font-size: 37px;
  color: #fff;
}
.box-1 p{
  color: #d8d8d8;
  text-align: end;
}
.container3 .box-2{
  width: 87%;
}
.all-squares {
  display: grid;
  grid-template-columns: repeat(3,1fr); /* Three columns with equal width */
  gap: 20px; 
}

.square {
  width: 100%; 
  height: auto; 
  background: #fff;
  text-align: center;
  padding: 20px;
}
.square:hover{
  background: #ccd1d6;
  transition: 2s;
}

.square .icon {
  font-size: 60px !important;
}


/* Container4 */

.container4 .text {
  display: flex;
  align-items: center;
}

.container4 .lefttext {
  color: rgb(24, 23, 23);
  width: 50%;
  text-align: right;
  margin-top: 100px;


}

.container4 .lefttext p {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(169, 211, 105);
}

.container4 .lefttext h1 {
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 100;
}

.container4 .righttext {
  color: rgb(92, 89, 89);
  width: 39%;
  margin-top: 108px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}

.container4 .gallery {
  width: 83%;
  display: grid;
  gap: 30px;
  height: 1200px;
  margin: 50px 0 70px;
  margin-left: 7.5%;
}


.container4 .gallery .item {
  text-align: center;


}

.container4 .gallery .item img {
  width: 100%;
  height: 100%;
}

.container4 .gallery .item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
}

.container4 .gallery .item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.container4 .gallery .item3 {
  grid-column: 4;
  grid-row: 1 / span 3;
}

.container4 .gallery .item4 {
  grid-column: 1;
  grid-row: 5 / span 2;
}

.container4 .gallery .item5 {
  grid-column: 2;
  grid-row: 5 /span 2;
}

.container4 .gallery .item6 {
  grid-column: 3;
  grid-row: 4 /span 2;
}

.container4 .gallery .item7 {
  grid-column: 4;
  grid-row: 4 / span 2;
}

.container4 .gallery .item8 {
  grid-column: 1 / span 2;
  grid-row: 7 / span 4;
}

.container4 .gallery .item9 {
  grid-column: 3 / span 2;
  grid-row: 6 /span 4;
}
/* 
.container4 .box_1{
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  
}
.box_1 .leftbox{
  margin-left: 440px;
  text-align: end;
}
.leftbox h1{
  font-size: 20px;
  color: #a3c962;
  font-weight: 600;
}
.leftbox h2{
  font-size: 35px;
  letter-spacing: 2px;
}
.box_1 .rightbox{
  margin-right: 65px;
  text-align: left;
}
.rightbox p{
  font-size: 15px;
  color: #676662;
  letter-spacing: 1px;
  padding: 10px 0px;
  line-height: 28px;
  
}
.container4 .box_2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 100px 130px 0 135px;
  margin-right: 20px;
}



.box_2 .leftgrid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
  row-gap: 20px;
}

#g1{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: auto;
}
#g2{
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: auto;
}
#g3{
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: auto;
}
#g7{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: auto;
}


.box_2 .rightgrid{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  gap: 20px;
  
}

#g4{
  grid-row-start: 1;
  grid-row-end: 2;

}
#t3{
  grid-row-start: 1;
  grid-row-end: 2;

}
#g-4{
  grid-row-start: 2;
  grid-row-end: 3;

}
#g5{
  grid-row-start: 2;
  grid-row-end: 3;

}
#g6{
  grid-row-start: 3;
  grid-row-end: 4;

} */


/* Container 9 */

.container9{
  width: 100%;
  text-align: center;
  padding: 100px;
}
.boxx1{
  display: flex;
  justify-content: center;
  gap: 1rem;  
}
.boxx1 p{
  text-align: end;
  
  
}
.boxx1 .rightside{
  text-align: start;
  padding-right: 183px;
  padding-left: 26px;

}
.boxx1 .rightside h1{
  font-size: 20px;
  color: #a3c962;
  font-weight: 600;
  font-family: 'Playfair Display', serif;

}
.boxx1 .rightside h2{
  font-size: 37px;
  color: #000;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
}
.container9 .boxx2{
  /* justify-content: space-between; */
  padding: 2rem;
  display: flex;
  gap: 2rem;
  width: 100%;
  height: auto;
}

.container9 .boxx2 .col img{
  width: 100%;
  /* height: 100%; */
}

.description{
  padding-top: 20px;
}
.description h1{
  font-size: 22px;
  font-weight: 700;
  color: #a3c962;
}
.description h2{ 

  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.sites {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* social media icon */
.sites i {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}







/* AChievements */
.achievement {
  width: 100%;
  background-color: #a3c962;
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  padding: 4rem;
  padding-top: 90px;
  padding-bottom: 90px;
}

.achievement__thing {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.achievement__thing p {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
}

.achievement__thing p:last-child {
  color: white;
  font-weight: 700;
}

.achievement__thing span i {
  color: white;
  font-size: 1.4rem;
}

.features {
  padding: 2rem 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.features__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.features__title p {
  text-align: right;
  width: 50%;
}

.features__title h1 {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.features__title h1 span:first-child {
  font-size: 1.2rem;
  color: #28a745;
}

.features__title h1 span:last-child {
  font-size: 2.5rem;
}

.features__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.features__cards {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.features__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  box-shadow: 0 5px 20px #000000b4;
  border-radius: 10px;
  padding: 0.5rem 3rem;
}
#features_card{
  
  margin-left: 30px;
}

.features__card--heading h2 {
  color: #a3c962;
  font-size: 1.6rem;
}

.features__card i {
  font-size: 2rem;
}



/* Container7 */

.container7{
  background: url(../img/b2.jpg);
}
.container7 .text {
  display: flex;
  align-items: center;
}

.container7 .lefttext {
  color: rgb(24, 23, 23);
  width: 50%;
  text-align: right;
  margin-top: 100px;


}

.container7 .lefttext p {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(169, 211, 105);
}

.container7 .lefttext h1 {
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 100;
  color: #fff;
}

.container7 .righttext {
  color: #ebebeb;
  width: 39%;
  margin-top: 108px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}

.container7 .downbox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 60px;
  
  

}
.container7 .downboxes .downbox .inside{
  display: block;
  background: #fff;
  text-align: center;
  width: 280px;
  height: 410px;
  
  
}
.inside h1{
  color: #a3c962;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px 0 20px 0;
  font-family: 'Playfair Display', serif;
}

.highlight {
  color: #a3c962;
  font-size: 30px;
  font-weight: 600;

}
.subscript {
  /* vertical-align: sub; */
  font-size: 15px;
}
.month{
  font-size: 16px;
  color: #000;
  font-family: 'Playfair Display', serif;
}



.rate p{
  font-size: 13px;
  color: #969696;
  padding-top: 11px;
  display: block;
  line-height: 35px;
}
.book-now .booknow{
  background-color: #a3c962;
  color: #fff;
  font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 2px;
    outline: none;
    border-radius: 20px;
    padding: 8px 20px;
    border: 2px solid #fff;
}




/* Clients */

.clients {
  padding: 2rem 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.clients .top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 35px;
}

.top p {
  text-align: right;
  width: 50%;
  
}

.top h1 {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.top h1 span:first-child {
  font-size: 1.2rem;
  color: #28a745;
}

.features__title h1 span:last-child {
  font-size: 2.5rem;
}
.clients .down{
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 43px;
}
.down .column{
  width: 400px;
  height: auto !important;;
}

/* .column .details{
  line-height: 30px;
} */
.column h1{
  font-size: 27px;
  font-weight: 700;
  color: #a3c962;
  padding-top: 30px;
}

.column h2{
  text-transform: capitalize;
  font-size: 20px;
  color: #000;
}
.column p{
  font-size: 19px;
  color: #4c4c4c;
  line-height: 27px;
  padding-top: 15px;
}
.column img{
    padding: 4px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    height: auto;
    width: 45%;
}

/* Video */
/* .video{
  width: 100%;
  background-color: #a3c962;
  text-align: center;
  justify-content: space-around;
  margin-top: 120px;
  padding: 4rem;
  padding-top: 90px;
  padding-bottom: 90px;
  
} */
/* .video .but{
  color: #fff;
}
.but .butt{
  color: #000;
}
.butt .fa{
  color: #fff;
} */
/* styles.css */

/* Centering the circles for better visibility */




.video {
  padding: 40px;
  background-color: #a3c962;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.butt {
  width: 80px;
  height: 80px;
  background-color: #fff; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

.butt .fa {
  color: #000; 
  font-size: 40px; 
}

.descript h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #fff;
}

.descript p {
  font-size: 16px;
  max-width: 100%; 
}

/* Blog */

.blog{
  background: url(../img/b1.jpg);
}

.blog .text {
  display: flex;
  align-items: center;
}

.blog .lefttext {
  color: rgb(24, 23, 23);
  width: 50%;
  text-align: right;
  margin-top: 80px;


}

.blog .lefttext p {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(169, 211, 105);
}

.blog .lefttext h1 {
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 100;
  color: #fff;
}

.blog .righttext {
  color: #ebebeb;
  width: 39%;
  margin-top: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}

.blog .grids {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.grids {
  
  padding: 80px 200px;
}
.cols{
  background-color: #fff;
  border: 15px solid #fff;
}
.cols img{
  width: 100%;
  text-align: center;

}

.cols .texts{
  text-align: start;
  padding: 15px 0 15px 0;
}
.text h4{
  font-size: 14px;
}
.texts h1{
  font-size: 22px;
}
.texts p{
  font-size: 14px;
}
.texts .date{
  display: flex;
  justify-content: space-between;
}
.date h3{
  font-size: 14px;
}


/* Form */

.message{
  padding: 80px
}

.rightbox{
  width: 50%;
}
.rightbox form {
  width: 100%;
  
}
input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000;
  background: #efefef;
  box-sizing: border-box;
}
#phone{
  width: 100%;
}
textarea {
  height: 150px;
  color: #000;
}
input[type="submit"] {
  background-color: #a3c962;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}
input[type="submit"]:hover {
  background-color: #000;
  transition: 0.3s ease-in-out;
}

.message .boxx2{
  display: flex;
  padding-top: 50px;
}
.rightside h2{
  padding: 0;
}
/* .contacts{
  padding-right: 800px;
} */
.boxx2 .address{
  display: flex;
  text-align: start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.address .words{
  display: block;
  padding-left: 40px;
}
.words h1{
  font-size: 19px;
  font-weight: 700;
  color: #a3c962;
  margin-bottom: 1rem !important;
  font-family: 'Open Sans', sans-serif;
}
.words h2{
  font-size: 14px;
  color: #4c4c4c;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}
.contacts{
  padding-left: 50px;
}
.address .ico{
  padding-right: 50px ;
  padding-left: 20px;
}
.ico span{
  font-size: 30px;
  color: black;
}


/* map */
.location .map{
  width: 100%;
  border: 1px solid grey;
}
.location .map iframe{
  padding: 10px;
}


/* Footer */
footer{
  background: #a3c962;
  text-align: center;
  align-items: center;
  padding:  20px 0;
}
footer .rights {
  display: flex; 
  justify-content: center;
  
}
.rights a{
  text-decoration: none;
  color: #fff;
}

.rights a:hover{
  text-decoration: underline;
  color: #000;
}

.social-icons {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  gap: 20px; /* Space between the icons */
  padding: 20px; /* Padding around the icons */
  
}
.social-icons .f-icons{
  width: 40px !important;
  height: 40px !important;
  background-color: #000;
  border-radius: 50%;
}
.social-icons a {
  font-size: 15px; /* Icon size */
  color: #fff; /* Icon color */
  
}

.social-icons i{
  padding-top: 10px;
}
.social-icons i:hover {
  color: #a3c962; /* Color on hover */
  transition: color 0.3s; /* for smooth color transition */
}


